.project
.pydevproject
.ipynb_checkpoints/*
.ipynb_checkpoints*
*.pyc
hand_out/*.aux
hand_out/*.bbl
hand_out/*.blg
hand_out/*.fdb_latexmk
hand_out/*.fls
hand_out/*.log
hand_out/*.pdf
hand_out/*.synctex.gz

hand_out/solns/*.aux
hand_out/solns/*.bbl
hand_out/solns/*.blg
hand_out/solns/*.fdb_latexmk
hand_out/solns/*.fls
hand_out/solns/*.log
hand_out/solns/*.synctex.gz
hand_out/solns/*.pdf
